@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }

  html {
    font-size: 16px;
  }

  body {
    @apply bg-background text-primary antialiased;
    font-family: "Helvetica Neue", "Noto Sans", "Segoe UI", sans-serif;
    line-height: 1.5;
    font-feature-settings: "rlig" 1, "calt" 1, "kern" 1, "ss01" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}

